<div>
    <h2 id="page-heading">
        <span jhiTranslate="wildlifeApp.nestSiteOverview.home.title">Nest Site Overviews</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nest-site-overview" [routerLink]="['/nest-site-overview/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wildlifeApp.nestSiteOverview.home.createLabel">
            Create a new Nest Site Overview
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="nestSiteOverviews?.length === 0">
        <span jhiTranslate="wildlifeApp.nestSiteOverview.home.notFound">No nestSiteOverviews found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="nestSiteOverviews && nestSiteOverviews.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.numberPeople">Number People</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.purposeOfVisit">Purpose Of Visit</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.signsOfUse">Signs Of Use</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.nestingSubstrate">Nesting Substrate</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.maintenanceDone">Maintenance Done</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.maintenanceRequired">Maintenance Required</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.nestSiteOverview.comments">Comments</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nestSiteOverview of nestSiteOverviews ;trackBy: trackId">
                    <td><a [routerLink]="['/nest-site-overview', nestSiteOverview.id, 'view']">{{ nestSiteOverview.id }}</a></td>
                    <td>{{ nestSiteOverview.numberPeople }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.VisitPurposeType.' + nestSiteOverview.purposeOfVisit }}">{{ nestSiteOverview.purposeOfVisit }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.UseSignType.' + nestSiteOverview.signsOfUse }}">{{ nestSiteOverview.signsOfUse }}</td>
                    <td>{{ nestSiteOverview.nestingSubstrate }}</td>
                    <td>{{ nestSiteOverview.maintenanceDone }}</td>
                    <td>{{ nestSiteOverview.maintenanceRequired }}</td>
                    <td>{{ nestSiteOverview.comments }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/nest-site-overview', nestSiteOverview.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/nest-site-overview', nestSiteOverview.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(nestSiteOverview)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
