<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-observation-location-heading" jhiTranslate="wildlifeApp.observationLocation.home.createOrEditLabel">Create or edit a Observation Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.gpsLatitude" for="field_gpsLatitude">Gps Latitude</label>
                    <input type="text" class="form-control" name="gpsLatitude" id="field_gpsLatitude"
                           formControlName="gpsLatitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.gpsCoordinate" for="field_gpsCoordinate">Gps Coordinate</label>
                    <input type="text" class="form-control" name="gpsCoordinate" id="field_gpsCoordinate"
                           formControlName="gpsCoordinate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.locationName" for="field_locationName">Location Name</label>
                    <input type="text" class="form-control" name="locationName" id="field_locationName"
                           formControlName="locationName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.addDate" for="field_addDate">Add Date</label>
                    <div class="input-group">
                        <input id="field_addDate" type="text" class="form-control" name="addDate" ngbDatepicker #addDateDp="ngbDatepicker" formControlName="addDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="addDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.observationLocation.updateDate" for="field_updateDate">Update Date</label>
                    <div class="input-group">
                        <input id="field_updateDate" type="text" class="form-control" name="updateDate" ngbDatepicker #updateDateDp="ngbDatepicker" formControlName="updateDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
