<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-country-heading" jhiTranslate="wildlifeApp.country.home.createOrEditLabel">Create or edit a Country</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.country.countryName" for="field_countryName">Country Name</label>
                    <input type="text" class="form-control" name="countryName" id="field_countryName"
                           formControlName="countryName"/>
                    <div *ngIf="editForm.get('countryName')!.invalid && (editForm.get('countryName')!.dirty || editForm.get('countryName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('countryName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.country.addDate" for="field_addDate">Add Date</label>
                    <div class="input-group">
                        <input id="field_addDate" type="text" class="form-control" name="addDate" ngbDatepicker #addDateDp="ngbDatepicker" formControlName="addDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="addDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('addDate')!.invalid && (editForm.get('addDate')!.dirty || editForm.get('addDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="wildlifeApp.country.species" for="field_species">Species</label>
                    <select class="form-control" id="field_species" multiple name="species" formControlName="species">
                        <option [ngValue]="getSelected(editForm.get('species')!.value, speciesOption)" *ngFor="let speciesOption of species; trackBy: trackById">{{ speciesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
