<div>
    <h2 id="page-heading">
        <span jhiTranslate="wildlifeApp.birdsIdentified.home.title">Birds Identifieds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-birds-identified" [routerLink]="['/birds-identified/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wildlifeApp.birdsIdentified.home.createLabel">
            Create a new Birds Identified
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="birdsIdentifieds?.length === 0">
        <span jhiTranslate="wildlifeApp.birdsIdentified.home.notFound">No birdsIdentifieds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="birdsIdentifieds && birdsIdentifieds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.seenDuring">Seen During</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.sex">Sex</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.birdLocation">Bird Location</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.southing">Southing</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.easting">Easting</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.comments">Comments</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.colorComboL">Color Combo L</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.colorComboR">Color Combo R</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.birdIRN">Bird IRN</span></th>
                    <th scope="col" ><span jhiTranslate="wildlifeApp.birdsIdentified.birdBehaviour">Bird Behaviour</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let birdsIdentified of birdsIdentifieds ;trackBy: trackId">
                    <td><a [routerLink]="['/birds-identified', birdsIdentified.id, 'view']">{{ birdsIdentified.id }}</a></td>
                    <td jhiTranslate="{{ 'wildlifeApp.SeenDuringType.' + birdsIdentified.seenDuring }}">{{ birdsIdentified.seenDuring }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.BirdType.' + birdsIdentified.type }}">{{ birdsIdentified.type }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.SexType.' + birdsIdentified.sex }}">{{ birdsIdentified.sex }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.StatusType.' + birdsIdentified.status }}">{{ birdsIdentified.status }}</td>
                    <td jhiTranslate="{{ 'wildlifeApp.BirdLocationType.' + birdsIdentified.birdLocation }}">{{ birdsIdentified.birdLocation }}</td>
                    <td>{{ birdsIdentified.southing }}</td>
                    <td>{{ birdsIdentified.easting }}</td>
                    <td>{{ birdsIdentified.comments }}</td>
                    <td>{{ birdsIdentified.colorComboL }}</td>
                    <td>{{ birdsIdentified.colorComboR }}</td>
                    <td>{{ birdsIdentified.birdIRN }}</td>
                    <td>
                        <span *ngFor="let birdBehaviour of birdsIdentified.birdBehaviours; let last = last">
                            <a class="form-control-static" [routerLink]="['/bird-behaviour', birdBehaviour?.id, 'view']">{{ birdBehaviour.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/birds-identified', birdsIdentified.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/birds-identified', birdsIdentified.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(birdsIdentified)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
