<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-competitor-impact-on-mk-heading" jhiTranslate="wildlifeApp.competitorImpactOnMk.home.createOrEditLabel">Create or edit a Competitor Impact On Mk</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wildlifeApp.competitorImpactOnMk.impact" for="field_impact">Impact</label>
                    <select class="form-control" name="impact" formControlName="impact" id="field_impact">
                        <option value="UNKNOWN">{{ 'wildlifeApp.ImpactOnMKType.UNKNOWN' | translate }}</option>
                        <option value="BREEDING_MALE_MK_DELAYED_ENTERING_NEST">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_MALE_MK_DELAYED_ENTERING_NEST' | translate }}</option>
                        <option value="BREEDING_FEMALE_MK_DELAYED_ENTERING_NEST">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_FEMALE_MK_DELAYED_ENTERING_NEST' | translate }}</option>
                        <option value="BREEDING_MALE_MK_DELAYED_LEAVING_NEST">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_MALE_MK_DELAYED_LEAVING_NEST' | translate }}</option>
                        <option value="BREEDING_FEMALE_MK_DELAYED_LEAVING_NEST">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_FEMALE_MK_DELAYED_LEAVING_NEST' | translate }}</option>
                        <option value="MK_CANT_ACCESS_NEST">{{ 'wildlifeApp.ImpactOnMKType.MK_CANT_ACCESS_NEST' | translate }}</option>
                        <option value="MK_CHASING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.MK_CHASING_COMPETITOR' | translate }}</option>
                        <option value="BREEDING_MALE_MK_CHASING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_MALE_MK_CHASING_COMPETITOR' | translate }}</option>
                        <option value="BREEDING_FEMALE_MK_CHASING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_FEMALE_MK_CHASING_COMPETITOR' | translate }}</option>
                        <option value="MK_BREEDING_PAIR_CHASING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.MK_BREEDING_PAIR_CHASING_COMPETITOR' | translate }}</option>
                        <option value="MK_FIGHTING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.MK_FIGHTING_COMPETITOR' | translate }}</option>
                        <option value="BREEDING_MALE_MK_FIGHTING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_MALE_MK_FIGHTING_COMPETITOR' | translate }}</option>
                        <option value="BREEDING_FEMALE_MK_FIGHTING_COMPETITOR">{{ 'wildlifeApp.ImpactOnMKType.BREEDING_FEMALE_MK_FIGHTING_COMPETITOR' | translate }}</option>
                        <option value="NEST_SITE_OCCUPIED">{{ 'wildlifeApp.ImpactOnMKType.NEST_SITE_OCCUPIED' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('impact')!.invalid && (editForm.get('impact')!.dirty || editForm.get('impact')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('impact')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
