<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eggsAndChick">
            <h2><span jhiTranslate="wildlifeApp.eggsAndChick.detail.title">Eggs And Chick</span> {{ eggsAndChick.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wildlifeApp.eggsAndChick.clutchNumber">Clutch Number</span></dt>
                <dd>
                    <span>{{ eggsAndChick.clutchNumber }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.eggsAndChick.eggsPresent">Eggs Present</span></dt>
                <dd>
                    <span>{{ eggsAndChick.eggsPresent }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.eggsAndChick.chicksPresent">Chicks Present</span></dt>
                <dd>
                    <span>{{ eggsAndChick.chicksPresent }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.eggsAndChick.photoTaken">Photo Taken</span></dt>
                <dd>
                    <span>{{ eggsAndChick.photoTaken }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.eggsAndChick.comments">Comments</span></dt>
                <dd>
                    <span>{{ eggsAndChick.comments }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/eggs-and-chick', eggsAndChick.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
