<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="egg">
            <h2><span jhiTranslate="wildlifeApp.egg.detail.title">Egg</span> {{ egg.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wildlifeApp.egg.eggNumber">Egg Number</span></dt>
                <dd>
                    <span>{{ egg.eggNumber }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.egg.eggStatus">Egg Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'wildlifeApp.EggStatusType.' + egg.eggStatus }}">{{ egg.eggStatus }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.egg.eggLayDate">Egg Lay Date</span></dt>
                <dd>
                    <span>{{ egg.eggLayDate }}</span>
                </dd>
                <dt><span jhiTranslate="wildlifeApp.egg.eggsAndChick">Eggs And Chick</span></dt>
                <dd>
                    <div *ngIf="egg.eggsAndChick">
                        <a [routerLink]="['/eggs-and-chick', egg.eggsAndChick?.id, 'view']">{{ egg.eggsAndChick?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/egg', egg.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
